
body {
	padding: 0;
	overflow-x: hidden;
	font-size: 1.5vw;
	font-family: 'Roboto', sans-serif;
}

/* Nav */

.navbar {
	position: static;
	margin-bottom: 0;
	background: #F5F5F5;
	padding-top: 8px;
}

.navbar .logo {
	width: 10vw;
	height: 20px;
}

.user-icon {
	float: right;
}

.blog-link {
	color: #4D4D4D;
	float: right;
	margin-right: 6vw;
}


/* Jumbotron */

.jumbotron {
	background: #544743;
	margin-bottom: 0;
}

/* Search box */

.search-box .row {
	margin-top: 10vh;
}

#search_param { /* Dropdown containing search parameters */
	padding: 7.5px;
	background: #51B7EA;
	color: white;
	border: none;
}

.btn-search {
	background: #E6E4E5;
}

.search-box .form-control { /* Search input box */
	width: 40vw;
}

.search-box {
	height: 36vh;
}

/* navi - navigation below jumbotron */
.navi {
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 0.9em;
}

.navi a {
	margin: 0 1vw;
}

.navi .active {
	border-bottom: 2px solid #82C1CD;
}

/* Contents */

.content {
	width: 70vw;
}

.content .subjects div{
	display: inline-block;
	width: 12vw;
	background: grey;
}

#chemi {
	background: #51B7EA;
}

#maths {
	background: #FAB726;
}

#phy {
	background: #E04D41;
}

/* Footer */

body > footer {
	background: #3A3F44;
	/*height: 60vh;*/
	height: auto;
	color: #F2F2F3;
}

body > footer .container{
	width: 77vw;
	padding-top: 12vh;
}

body > footer img {
	width: 16vw;
	height: 3vw;
}

body > footer ul li {
	display: inline;
}
