

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
	/*border: 1px solid black;*/
}


body {
	padding: 0;
	overflow-x: hidden;
	font-size: 1.5vw;
	font-family: 'Roboto', sans-serif;
}

.icon-calendar {
	display: inline;
	float: left;
	margin-top: 10px;
	margin-right: 4px;
}

.jumbotron {
	height: 100vh;
	background: url(../img/nobi.jpg);
	padding: 0;
	margin: 0;
}

.navbar-inverse .navbar-brand, .icon-calendar {
	color: #29ABE2;
	font-size: 1.2em;
}

.navbar {
	display: block;
	margin: 0;
	position: static;
	background: transparent;
	border: 0;
	padding-right: 5%;
}

#nav-drop {
	display: inline-block;
	background: transparent !important;
}

.dropdown .btn {
	background: transparent;
	color: #EEE;
	text-shadow: none;
	border: none;
}

.dropdown {
	/*margin-right: 3%;*/
}

.heading {
	display: inline-block;
	color: #FFFFFF;
	margin-left: 8%;
	margin-top: 12%;
}

.heading h2 {
	border-bottom: 1px solid lightgrey;
	font-size: 2.3em;
}

.heading p{
	font-size: 0.7em;
}

.heading:nth-of-type(2) {
	margin-top: 12%;
	margin-left: 22%;
}

.heading button {
	display: block;
	margin:13%;
	width: 12vw;
	border: 0;
	border-radius: 3px;
	padding: 3.5px;
	color: #FFFAF0;
}

.heading button:nth-of-type(1) {
	background: #3BBCEB;
}

.heading button:nth-of-type(2) {
	background: #FFB522;
}

.heading button:nth-of-type(3) {
	background: #E84C3D;
}

.heading button span {
	margin-left: 3px;
}

.heading button:nth-child(2) span {
	margin-left: 38px;
}

.user-icon {
	display: inline-block;
	border-radius: 100%;
	height: 28px;
	width: 28px;
	background: #eee;
	margin-top: 10px;
}

.user-icon i {
	margin-left: 5px;
}

/*Introduction*/
.introduction {
	position: relative;
	background: #F5F5F5;
	height: 60vh;
	width: 100vw;
	padding: 0;
	margin: 0 0 0 0;
}

.container h3{
	text-align: center;
	color: #4D4D4D;
	font-size: 1.3em;
}

p.know-more {
	position: absolute;
	display: inline-table;
	margin-left: 45.3%;
	border: 1px solid #8CC63F;
	bottom: 0;
	padding: 4px 6px;
	color: #8CC63F;
	font-size: 0.85em;
}

p.know-more span {
	margin-left: 8px;
}

/*Courses*/

.courses {
	/*width: 100vw;*/
	height: 60vh;
}

.courses h2 {
	margin: 0;
}

.courses .my-container > .cards{
	background: #F2F2F2;
	margin: 15px 5px;
	padding: 0;
	border-radius: 5px;
	width: 18vw;
	height: 40vh;
}

.courses .my-container > .cards header {
	border-radius: 5px 5px 0 0;
	padding-top: 30px;
	color: #FFFFFF;
	font-size: 1.12em;
}

.courses .my-container > .cards:nth-of-type(1) header {
	background: #3BBCEB;
}

.courses .my-container > .cards:nth-of-type(2) header {
	background: #39B54A;
}

.courses .my-container > .cards:nth-of-type(3) header {
	background: #FFB522;
}

.courses .my-container > .cards:nth-of-type(4) header {
	background: #E84C3D;
}

.my-container {
	/*border: 1px solid black;*/
	display: flex;
	width: 80%;
	margin:  20px auto;
}


.cards {
	width: 15%;
	text-align: center;
	font-size: 1.4vw;
	/*border: 1px solid black;*/
	flex: 1;
}

.card-body {
	width: 80%;
	margin: auto;
	padding-top: 15px;
}

.card-body li {
	background: lightgrey;
	list-style: none;
}


@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3){
    body {
    	font-size: 12px;
    }

}




.asides {
	background: #3BBCEB;
	height: 60vh;
}











